<div class="container not-found-container" #stickySlider [class.sticky]="sticky" style="position: relative;">
  <div class="not-found-content">
    <div class="row content">
      <div class="col-11 col-md-6 offset-1">
        <h1 class="not-found-title">Oops!</h1>
        <h2 class="not-found-text">We can't seem to find the page you're looking for.</h2>
        <span class="not-found-error">Error Code: 404</span>
        <a href="/" class="not-found-link">Return Home</a>
      </div>
      <div class="col-12 col-md-4">
        <img class="not-found-img" src="assets/MargoOnly.png" alt="">
      </div>
    </div>
  </div>
</div>
