<div class="container">
  <div class="form-container">
    <div class="form-block">
      <div class="auth-block">
        <h3 class="form-title">Thank You for Registering</h3>
        <div class="mb-3">
          <p class="mb-3">Please check your email and click on the appropriate link to verify your email address. You
            may need to check your Spam folder.</p>
        </div>
      </div>
      <div class="redirect-to-login">
        <span>Go back to<a class="redirect" href="/sign-in"> Sign in?</a></span>
      </div>
    </div>
  </div>
</div>
