# Dependency directories
/node_modules/
/yarn-error.log

# Production build files
/dist/
/build/

# Compiled output
/out-tsc/
/bazel-out/

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase files that should not be included in public repos
# Ignoring sensitive Firebase and environment configuration files
**/firebase.json
**/firestore.indexes.json
**/firestore.rules
**/firebaserc
**/storage.rules
**/crashlytics-build.properties
**/google-services.json
/.firebase/


# Ignoring local .env files that can contain sensitive environment variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Local Environment files - typically you should replace these with .example files
# that developers can copy and configure for their environments
**/src/environments/environment.prod.ts
**/src/environments/environment.ts

# Ignore service files if they contain sensitive logic or API keys
# You may provide example files for reference
**/src/app/data.service.ts
**/src/app/wallet.service.ts

# Server-side code that may contain sensitive information
**/server.ts

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
# Include settings files if they do not contain sensitive information, otherwise ignore
.vscode/
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# History of local files
.history

# Miscellaneous caches and lock files that should not be committed
/.angular/cache
.sass-cache/
/connect.lock
/coverage/
/libpeerconnection.log
/testem.log
/typings/

# System files
.DS_Store
Thumbs.db

# If using yarn, uncomment this to ignore the yarn lock file
# yarn.lock

# If using npm and there are specific reasons to exclude package-lock.json,
# uncomment this to ignore the npm lock file
# package-lock.json