:host {
  z-index: 9999;
}

.checkbox-container input[type="checkbox"],
.checkbox-container label,
.options span,
.card-container img,
.first-page,
.prev-arrow,
.next-arrow,
.last-page,
input[type="checkbox"],
label[for="ownedCardsOnly"],
label[for="uniqueCardsOnly"],
label[for="nonUniqueCardsOnly"] {
  cursor: url('/assets/Cursor_02-2_select_2.png'), auto !important;
}



.sticky {
  margin-top: 300px;
}

.message-container {
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 9999;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgba(7, 10, 14, 0.9);
  padding: 5px;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;

  &::before {
    content: " ";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    padding: 3px;
    background: linear-gradient(to right, #a99151 22%, #877036 24%, #ffffcf 26%, #d0b46c 27%, #f2d68d 40%, #a49053 78%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }
}

.header-section {
  position: relative;
  margin-top: 200px;
}

.pfp-image {
  background-image: url(/assets/Header_User_Image_Placeholder.png);
  width: 135px;
  height: 135px;
  position: absolute;
  top: -125px;
  left: calc(50% - 75px);
  display: block;
  background-size: contain;
  z-index: 999;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  border-radius: 50%;

  &::after {
    content: " ";
    background-image: url(/assets/Header_User_Image_Outline_01.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 245px;
    height: 245px;
    position: absolute;
    left: -54px;
    top: -59px;
    z-index: 999;
  }
}

.username-bar {
  background-image: url(/assets/top_badge.png);
  position: relative;
  width: 100%;
  height: 80px;
  background-size: cover;
  background-position: center;
  display: block;
}

.username-text {
  text-align: center;
  color: #FF9E00;
  font-size: 35px;
  padding-top: 17px;
}

.total-cards {
  &::before {
    content: " ";
    width: 50px;
    height: 50px;
    background-image: url(/assets/Total_cards.png);
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
}

.cards-collected {
  &::before {
    content: " ";
    width: 0px;
    height: 0px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
}

.cards-type-list {
  align-items: center;
}

.card-type {
  position: relative;

  &::before {
    content: " ";
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    position: absolute;
    left: -40px;
    top: 2px;
  }
}

.first-edition::before {
  content: " ";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url(/assets/First_Edition.png);
}

.unl-edition::before {
  content: " ";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url(/assets/Un_Edition.png);
}

.cards-type-list {
  .common::before {
    background-image: url(/assets/rarity_icon_placeholder_GRAY.png);
  }

  .uncommon::before {
    background-image: url(/assets/rarity_icon_placeholder_GREEN.png);
  }

  .rare::before {
    background-image: url(/assets/rarity_icon_placeholder_BLUE.png);
  }

  .legendary::before {
    background-image: url(/assets/rarity_icon_placeholder_ORANGE.png);
  }
}

.cards-details {
  display: flex;
  color: #FFFFFF;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
  align-items: center; // Vertically centers the child elements in the container
  //margin-top: 100px; // example top margin, adjust the value as needed
  max-width: 800px;
}

.number {
  font-size: 24px;

  &.total-cards-number {
    font-size: 34px;
  }
}

.submit-btn {
  text-decoration: none;
  background-color: transparent;
  border-radius: 5px;
  z-index: 99;
  position: relative;
  font-size: 1rem;
  border: none !important;
  display: block;
  background-image: url(/assets/BTN_clear_normal.png);
  width: 145px;
  background-size: cover;
  background-position: center;
  height: 50px;
  box-shadow: none !important;
  color: #fff !important;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin-top: 10px;
  filter: grayscale(.5);

  &:hover {
    background-image: url(/assets/BTN_clear_selected.png);
  }

  &:focus {
    background-image: url(/assets/BTN_clear_selected.png);
  }

  &:active {
    background-image: url(/assets/BTN_clear_pressed.png);
    top: 1px;
  }
}

.filter-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 25px;

  .select-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(16.6666666667% - 10px);
    min-width: 145px;
    margin-bottom: 10px;
  }

  .select-label {
    color: #B7BEC5;
    text-align: center;
    font-size: 20px;
  }

  .selected-option {
    background-color: #00030B;
    color: #A09B92;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border: #051526 2px solid;
  }

  .options {
    display: flex;
    flex-direction: column;
    background-color: #020C2F;
    border: 2px solid #0B1E3F;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    top: 42px;
    color: #9F9B92;
    padding: 10px;
    z-index: 999999;

    span {
      margin-bottom: 5px;

      &.active {
        color: #FFFFFF;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.clear-filter {
  background-color: #00030B;
  color: #A09B92;
  height: 45px;
  width: 150px;
  margin: 0 auto;
  border: #051526 2px solid;
  margin-left: 50px;
}

.cards-list {
  position: relative;
  background-color: #070F1C;

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100px;
    background-position: top;
    background-size: cover;
    background-image: url(/assets/Border_Body_Top.png);
    top: 0px;
  }
}

.cards-filter {
  max-width: 900px;
  margin: auto;

  h2 {
    cursor: url('/assets/Cursor_02_2.png'), auto !important;
    font-size: 30px;
    color: #fff;
    z-index: 99999;
    position: relative;
    text-align: center;
    padding-top: 30px;
    display: block;
    padding-bottom: 15px;
  }
}

.search-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  input {
    width: 65%;
    height: 45px;
    display: block;
    color: #577690;
    padding-left: 15px;
    background-color: #01030B;
    border: 2px solid #051526;
    outline: none;
    flex: 1;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #577690;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #577690;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #577690;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #577690;
}

.card-container {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.cards-carousel {
  padding-bottom: 40px;
}

.filter-inputs::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100px;
  background-position: top;
  background-size: contain;
  background-image: url(/assets/Border_Body_Top.png);
  top: 0px;
  background-repeat: no-repeat;

}

.slider {
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100px;
    background-position: top;
    background-size: contain;
    background-image: url(/assets/Border_Body_Top.png);
    top: 0px;
    background-repeat: no-repeat;
  }
}

.swiper-buttons .swiper-button {
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  position: absolute;
  z-index: 99;
}

.swiper-buttons {
  position: absolute;
  top: 50%;
  z-index: 99;
  width: 100%;
}

.swiper-buttons .swiper-button.prev {
  background-image: url(/assets/Section_Right_btn.png);
  right: -25px;
}

.swiper-buttons .swiper-button.next {
  background-image: url(/assets/Section_Left_btn.png);
  left: -60px;
}

.pagination {
  background-image: url(/assets/pagination-bg.png);
  background-size: cover;
  width: 100%;
  height: 70px;
  margin-bottom: 50px;
}

.pagination-items {
  margin: 0 auto;
  padding-top: 20px;
  color: #FFF;
}

.first-page,
.last-page {
  color: #57839A;
}

.show-current-page {
  color: #B1D5DC;
}

.arrow {
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
  margin: 0px 15px;
}

.prev-arrow {
  background-image: url(/assets/pagination-arrow-left.png);
}

.next-arrow {
  background-image: url(/assets/pagination-arrow-right.png);
}

.card-container {
  display: flex;
  width: calc((100% /6) - 10px);
  margin: 0px 5px;
  margin-bottom: 10px;
  z-index: 999;
}

.grayscale-card {
  filter: grayscale(0.8);
}

.cards-checkboxes {
  display: flex;
  flex-direction: row; /* Align children in a row */
  align-items: center; /* Align children vertically in the center */
  justify-content: flex-start; /* Align children to the start of the container */
  width: auto; /* Auto width to fit content */
  margin-top: 10px;
  margin-bottom: 30px;
}

.checkbox-container {
  display: flex;
  align-items: center; /* Align checkbox and label in the center */
  margin-right: 40px; /* Right margin for spacing between checkbox groups */
  margin-left: 10px;
}

@media (max-width: 720px) {

  .checkbox-container {
margin-top: 20px;
  }

  .cards-checkboxes {
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute space evenly */
  }

  .checkbox-container {
    margin-right: 5px; /* Adjusted margins for better spacing */
    margin-bottom: 20px; /* Space between rows */
  }

  .export-button, .link-button {
    flex: 1 0 50%; /* Each button takes up to 50% of the width */
    text-align: center; /* Center align the content of buttons */
  }

  .export-button img, .link-button .link {
    width: auto; /* Adjust width as necessary */
    margin: 0 auto; /* Center the content */
  }
}


/* Target the input and label specifically for owned and unique checkboxes */
.checkbox-container input[type="checkbox"],
.checkbox-container label{ /* Adding button to the existing selectors */
  cursor: url('/assets/Cursor_02-2_select_2.png'), pointer !important; /* Apply the custom cursor */
}


/* Styling for checkbox labels */
.checkbox-container label {
  color: #B7BEC5;
  margin-left: 5px; /* Spacing between checkbox and label */
}

/* Remove margin for the last checkbox to avoid extra spacing */
.checkbox-container:last-child {
  margin-right: 0;
}

.export-button {
  border: none;
  background: transparent;
  padding: 0;
}

.export-button img {
  cursor: url('/assets/Cursor_02-2_select_2.png'), pointer !important;
  width: 30px; /* or whatever size you prefer */
  height: auto;
  margin-left: 5px;
}

.link-button .link {
  margin-left: 40px;
  color: #e39b33; /* Set color to orange */
  font-size: 1rem; /* Match other text sizes or adjust as needed */
  display: inline-block; /* Ensures proper spacing and alignment */
  padding: 5px 0; /* Optional, for better clickability */
}

/* Ensure color does not change on hover or focus */
.link-button .link:hover,
.link-button .link:focus {
  color: #e39b33; /* Keep it orange even when hovered or focused */
}


@media screen and (max-width: 1140px) {
  .card-container {
    width: calc((100% /5) - 10px);
  }
}

@media screen and (max-width: 960px) {
  .card-container {
    width: calc((100% /4) - 10px);
  }
}

@media screen and (max-width: 720px) {
  .card-container {
    width: calc((100% /3) - 10px);
  }
}

@media screen and (max-width: 540px) {
  .card-container {
    width: calc((100% /2) - 10px);
  }
}

@media screen and (max-width: 625px) {

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card-image-container {
    width: 100%;
  }

  .card-details-container {
    width: 100%;
  }


  .card-details {
    margin-left: 20px;
  }

}

@media screen and (max-width: 460px) {
  .cards-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    margin-top: 15px;
  }

  .cards-carousel {
    overflow: hidden;
  }

  .swiper-buttons .swiper-button.prev {
    right: 20px;
  }

  .swiper-buttons .swiper-button.next {
    left: -15px;
  }

}
