<div class="container-with-bg" #stickyElem [class.sticky]="sticky" [ngStyle]="{'filter':blurStyle}">
  <div *ngIf="!authService.isLoggedIn || !walletConnected()">
    <div class="message-container">
      <div class="message-text" *ngIf="!authService.isLoggedIn">
        To display cards, please log in.
      </div>
      <div class="message-text" *ngIf="authService.isLoggedIn && !walletConnected()">
        To display cards, please connect an Ergo wallet.
      </div>
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn && walletConnected()">
    <div class="header-section">
      <div class="profile-img">
        <span class="user-pfp-container">
          <div class="pfp-image" *ngIf="authService.userProfile as profile" [ngStyle]="{'background-image': profile.pfp === 'Abyss' ? 'url(/assets/abyss.png)' :
          profile.pfp === 'Margo' ? 'url(/assets/margo.png)' :
          profile.pfp === 'Mios' ? 'url(/assets/mios.png)' :
          profile.pfp === 'Nasse' ? 'url(/assets/nasse.png)' :
          'url(/assets/Header_User_Image_Placeholder.png)'}">
          </div>
        </span>
      </div>
      <div class="username-bar">
        <div class="username-text">
          {{(authService?.userData?.displayName) ? authService?.userData?.displayName : 'UserName'}}
        </div>
      </div>
    </div>
    <div class="cards-details container">
      <div class="card-number">
        <div class="total-cards">
          <span class="number total-cards-number">{{userCardsDetail.total}}</span> Total Cards
        </div>
        <div class="first-edition">
          <span class="number">{{userCardsDetail.firstEdition}}</span> 1rst Edition
        </div>
        <div class="unl-edition">
          <span class="number">{{userCardsDetail.unlEdition}}</span> unl. Edition
        </div>
      </div>
      <div class="card-rarity">
        <input type="button" class="btn submit-btn" value="Buy Packs" type="submit" tabindex="5" />
        <div class="cards-type-list">
          <div class="card-type common"><span class="number">{{userCardsDetail.common}}</span> Common</div>
          <div class="card-type uncommon"><span class="number">{{userCardsDetail.uncommon}}</span> Uncommon</div>
          <div class="card-type rare"><span class="number">{{userCardsDetail.rare}}</span> Rare</div>
          <div class="card-type legendary"><span class="number">{{userCardsDetail.legendary}}</span> Legendary</div>
        </div>
      </div>
    </div>
    <div class="cards-list">
      <div class="container">
        <div class="cards-filter">
          <h2>Cards</h2>
          <div class="filter-inputs">

            <div class="select-container">
              <span class="select-label">Edition</span>
              <button class="selected-option" (click)="toggleMenu(0)">{{filter.edition.name}}</button>
              <div class="options" *ngIf="activeIndex === 0">
                <span [class.active]="filter.edition.value === 'All'" (click)="selectEdition('All','All')">All</span>
                <span [class.active]="filter.edition.value === '1'" (click)="selectEdition('1','Owned')">Owned</span>
                <span [class.active]="filter.edition.value === '2'" (click)="selectEdition('2','Not
                Owned')">Not
                  Owned</span>
                <span [class.active]="filter.edition.value === '3'"
                  (click)="selectEdition('3','Processing')">Processing</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Set</span>
              <button class="selected-option" (click)="toggleMenu(1)">{{filter.set.name}}</button>
              <div class="options" *ngIf="activeIndex === 1">
                <span [class.active]="filter.set.value === 'All'" (click)="selectSet('All','')">All</span>
                <span [class.active]="filter.set.value === '1'" (click)="selectSet('1','Owned')">Owned</span>
                <span [class.active]="filter.set.value === '2'" (click)="selectSet('2','Not')">Not
                  Owned</span>
                <span [class.active]="filter.set.value === '3'" (click)="selectSet('3','Processing')">Processing</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Clan</span>
              <button class="selected-option" (click)="toggleMenu(2)">{{filter.clan.name}}</button>
              <div class="options" *ngIf="activeIndex === 2">
                <span [class.active]="filter.clan.value === 'All'" (click)="selectClan('All','')">All</span>
                <span [class.active]="filter.clan.value === '1'" (click)="selectClan('1','')">Owned</span>
                <span [class.active]="filter.clan.value === '2'" (click)="selectClan('2','')">Not
                  Owned</span>
                <span [class.active]="filter.clan.value === '3'" (click)="selectClan('3','')">Processing</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Rarity</span>
              <button class="selected-option" (click)="toggleMenu(3)">{{filter.rarity.name}}</button>
              <div class="options" *ngIf="activeIndex === 3">
                <span [class.active]="filter.rarity.value === 'All'" (click)="selectRarity('All','')">All</span>
                <span [class.active]="filter.rarity.value === '1'" (click)="selectRarity('1','')">Owned</span>
                <span [class.active]="filter.rarity.value === '2'" (click)="selectRarity('2','')">Not
                  Owned</span>
                <span [class.active]="filter.rarity.value === '3'" (click)="selectRarity('3','')">Processing</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Level</span>
              <button class="selected-option" (click)="toggleMenu(4)">{{filter.level.name}}</button>
              <div class="options" *ngIf="activeIndex === 4">
                <span [class.active]="filter.level.value === 'All'" (click)="selectLevel('All','')">All</span>
                <span [class.active]="filter.level.value === '1'" (click)="selectLevel('1','')">Owned</span>
                <span [class.active]="filter.level.value === '2'" (click)="selectLevel('2','')">Not
                  Owned</span>
                <span [class.active]="filter.level.value === '3'" (click)="selectLevel('3','')">Processing</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Artist</span>
              <button class="selected-option" (click)="toggleMenu(5)">{{filter.artist.name}}</button>
              <div class="options" *ngIf="activeIndex === 5">
                <span [class.active]="filter.artist.value === 'All'" (click)="selectArtist('All','')">All</span>
                <span [class.active]="filter.artist.value === '1'" (click)="selectArtist('1','')">Owned</span>
                <span [class.active]="filter.artist.value === '2'" (click)="selectArtist('2','')">Not
                  Owned</span>
                <span [class.active]="filter.artist.value === '3'" (click)="selectArtist('3','')">Processing</span>
              </div>
            </div>
          </div>
          <div class="search-input">
            <input type="text" name="cardName" id="cardName" placeholder="Search Card Name...">
          </div>
        </div>
      </div>
      <div class="cards-carousel" *ngIf="filtedCards.length > 0">
        <div class="slider container">
          <swiper [config]="config">
            <ng-template *ngFor="let card of filtedCards" swiperSlide>
              <div class="card-container" (click)="openPopup(card)">
                <img [src]="card.image" alt="">
              </div>
            </ng-template>
          </swiper>
          <div class=" swiper-buttons">
            <button class="swiper-button next" (click)="slidePrev()"></button>
            <button class="swiper-button prev" (click)="slideNext()"> </button>
          </div>
        </div>
      </div>
      <div class="no-cards" *ngIf="filtedCards.length === 0">
        <div class="message-container">
          <div class="message-text">
            No matching cards found.
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="pagination-items">
          <span class="first-page" (click)="currentCardPage=1">First Page</span>
          <span class="arrow prev-arrow" (click)="prevPage()"></span>
          <span class="show-current-page">Page {{currentCardPage}} of {{cardsPages}}</span>
          <span class="arrow next-arrow" (click)="nextPage()"></span>
          <span class="last-page" (click)="currentCardPage=cardsPages">Last Page</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="authService.isLoggedIn && walletConnected() && selectedCard">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close-popup" (click)="closePopup()"></button>
        <div class="modal-body">
          <div class="card-container">
            <div class="card-image-container col-6">
              <img class="card-image" src="/assets/card_image.png" alt="">
              <div class="amount-owned">Amount Owned <span class="amount">{{selectedCard?.amount}}</span></div>
            </div>
            <div class="card-details-container col-6">
              <div class="card-name">{{selectedCard?.name}}</div>
              <div class="card-info">{{selectedCard?.description}}</div>
              <div class="card-stats-title">Stats</div>
              <div class="card-stats">
                <div class="left-stats">
                  <div class="stat attack">Attack <span class="stat-value">{{selectedCard?.attack}}</span></div>
                  <div class="stat gold">Gold <span class="stat-value">{{selectedCard?.gold}}</span></div>
                </div>
                <div class="right-stats">
                  <div class="stat health">Health <span class="stat-value">{{selectedCard?.hp}}</span></div>
                  <div class="stat xp">XP <span class="stat-value">{{selectedCard?.xp}}</span></div>
                </div>
              </div>
              <div class="card-details">
                <div class="detail clan">Clan <span class="detail-value">{{selectedCard?.clan}}</span></div>
                <div class="detail level">Level <span class="detail-value">Level {{selectedCard?.level}}</span></div>
                <div class="detail-rarity">
                  <div class="detail edition">Edition</div>
                  <div class="detail rarity">Rarity</div>
                </div>
                <div class="detail artist">Artist <span class="detail-value">{{selectedCard?.artist}}</span></div>
                <div class="detail Set">Set <span class="detail-value">{{selectedCard?.set}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>