<div class="container-with-bg" [class.sticky]="sticky">
  <div *ngIf="!authService.isLoggedIn || !walletConnected()">
    <div class="message-container">
      <div class="message-text" *ngIf="!authService.isLoggedIn">
        To display cards, please log in.
      </div>
      <div class="message-text" *ngIf="authService.isLoggedIn && !walletConnected()">
        To display cards, please connect a wallet.
      </div>
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn && walletConnected()">
    <div class="header-section">
      <div class="profile-img">
        <span class="user-pfp-container">
          <div class="pfp-image" *ngIf="authService.userProfile as profile" [ngStyle]="{'background-image': profile.pfp === 'Abyss' ? 'url(/assets/abyss.png)' :
          profile.pfp === 'Margo' ? 'url(/assets/margo.png)' :
          profile.pfp === 'Mios' ? 'url(/assets/mios.png)' :
          profile.pfp === 'Nasse' ? 'url(/assets/nasse.png)' :
          'url(/assets/Header_User_Image_Placeholder.png)'}">
          </div>
        </span>
      </div>
      <div class="username-bar">
        <div class="username-text">
          {{(authService?.userData?.displayName) ? authService?.userData?.displayName : 'UserName'}}
        </div>
      </div>
    </div>
    <div class="cards-details container">
      <div class="card-number">
        <div class="total-cards">
          <span class="number total-cards-number">{{userCardsDetail.total}}</span> Total Cards
        </div>
        <div class="first-edition">
          <span class="number">{{userCardsDetail.firstEdition}}</span> 1st Edition
        </div>
        <div class="unl-edition">
          <span class="number">{{userCardsDetail.unlEdition}}</span> Unlimited Edition
        </div>
       <!-- <input type="button" class="btn submit-btn" value="Buy Packs" type="submit" tabindex="5" disabled /> -->
      </div>
      <div class="card-rarity">
        <div class="cards-type-list">
          <div class="card-type common"><span class="number">{{userCardsDetail.common}}</span> Common</div>
          <div class="card-type uncommon"><span class="number">{{userCardsDetail.uncommon}}</span> Uncommon</div>
          <div class="card-type rare"><span class="number">{{userCardsDetail.rare}}</span> Rare</div>
          <div class="card-type legendary"><span class="number">{{userCardsDetail.legendary}}</span> Legendary</div>
        </div>
      </div>
    </div>
    <div class="cards-list">
      <div class="container">
        <div class="cards-filter">
          <h2><span class="cards-collected">{{ userCardsDetail.cardsCollected }}/150 Cards Collected</span></h2>
          <div class="filter-inputs">
            <div class="select-container">
              <span class="select-label">Edition</span>
              <button class="selected-option" (click)="toggleMenu(0)">{{filter.edition.name}}</button>
              <div class="options" *ngIf="activeIndex === 0" (mouseleave)="activeIndex = -1">
                <span [class.active]="filter.edition.value === 'All'" (click)="selectEdition('All','All')">All</span>
                <span [class.active]="filter.edition.value === '1'" (click)="selectEdition('1','1st')">1st</span>
                <span [class.active]="filter.edition.value === '2'"
                  (click)="selectEdition('2','Unlimited')">Unlimited</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Set</span>
              <button class="selected-option" (click)="toggleMenu(1)">{{filter.set.name}}</button>
              <div class="options" (mouseleave)="activeIndex = -1" *ngIf="activeIndex === 1">
                <span [class.active]="filter.set.value === 'All'" (click)="selectSet('All','All')">All</span>
                <span [class.active]="filter.set.value === 'Base'" (click)="selectSet('Base','Base')">Base</span>
              </div>
            </div>
            <div class="select-container" style="min-width: 170px;">
              <span class="select-label">Faction</span>
              <button class="selected-option" (click)="toggleMenu(2)">{{filter.faction.name}}</button>
              <div class="options" (mouseleave)="activeIndex = -1" *ngIf="activeIndex === 2">
                <span [class.active]="filter.faction.value === 'All'" (click)="selectfaction('All','All')">All</span>
                <span [class.active]="filter.faction.value === 'Masquerades'"
                  (click)="selectfaction('Masquerades','Masquerades')">Masquerades</span>
                <span [class.active]="filter.faction.value === 'The Old Kingdom'"
                  (click)="selectfaction('The Old Kingdom','The Old Kingdom')">The Old Kingdom</span>
                <span [class.active]="filter.faction.value === 'Fairytales'"
                  (click)="selectfaction('Fairytales','Fairytales')">Fairytales</span>
                <span [class.active]="filter.faction.value === 'Dark Matter'"
                  (click)="selectfaction('Dark Matter','Dark Matter')">Dark Matter</span>
                <span [class.active]="filter.faction.value === 'Tinkerers'"
                  (click)="selectfaction('Tinkerers','Tinkerers')">Tinkerers</span>
                <span [class.active]="filter.faction.value === 'Factionless'"
                  (click)="selectfaction('Factionless','Factionless')">Factionless</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Rarity</span>
              <button class="selected-option" (click)="toggleMenu(3)">{{filter.rarity.name}}</button>
              <div class="options" (mouseleave)="activeIndex = -1" *ngIf="activeIndex === 3">
                <span [class.active]="filter.rarity.value === 'All'" (click)="selectRarity('All','All')">All</span>
                <span [class.active]="filter.rarity.value === 'Common'"
                  (click)="selectRarity('Common','Common')">Common</span>
                <span [class.active]="filter.rarity.value === 'Uncommon'"
                  (click)="selectRarity('Uncommon','Uncommon')">Uncommon</span>
                <span [class.active]="filter.rarity.value === 'Rare'" (click)="selectRarity('Rare','Rare')">Rare</span>
                <span [class.active]="filter.rarity.value === 'Legendary'"
                  (click)="selectRarity('Legendary','Legendary')">Legendary</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Bracket</span>
              <button class="selected-option" (click)="toggleMenu(4)">{{filter.bracket.name}}</button>
              <div class="options" (mouseleave)="activeIndex = -1" *ngIf="activeIndex === 4">
                <span [class.active]="filter.bracket.value === 'All'" (click)="selectBracket('All','All')">All</span>
                <span [class.active]="filter.bracket.value === '1'"
                  (click)="selectBracket('Starter','Starter')">Starter</span>
                <span [class.active]="filter.bracket.value === '2-4'" (click)="selectBracket('Lower','Lower')">Lower</span>
                <span [class.active]="filter.bracket.value === '5-8'" (click)="selectBracket('Middle','Middle')">Middle</span>
                <span [class.active]="filter.bracket.value === '9-10'" (click)="selectBracket('Upper','Upper')">Upper</span>
              </div>
            </div>
            <div class="select-container">
              <span class="select-label">Artist</span>
              <button class="selected-option" (click)="toggleMenu(5)">{{filter.artist.name}}</button>
              <div class="options" (mouseleave)="activeIndex = -1" *ngIf="activeIndex === 5">
                <span [class.active]="filter.artist.value === 'All'" (click)="selectArtist('All','All')">All</span>
                <span [class.active]="filter.artist.value === 'Abner'"
                  (click)="selectArtist('Abner','Abner')">Abner</span>
                <span [class.active]="filter.artist.value === 'Cartunista'"
                  (click)="selectArtist('Cartunista','Cartunista')">Cartunista</span>
                <span [class.active]="filter.artist.value === 'Dogzy'"
                  (click)="selectArtist('Dogzy','Dogzy')">Dogzy</span>
                <span [class.active]="filter.artist.value === 'Dough'"
                  (click)="selectArtist('Dough','Dough')">Dough</span>
                <span [class.active]="filter.artist.value === 'Ed'" (click)="selectArtist('Ed','Ed')">Ed</span>
                <span [class.active]="filter.artist.value === 'Foe'" (click)="selectArtist('Foe','Foe')">Foe</span>
                <span [class.active]="filter.artist.value === 'Jef'" (click)="selectArtist('Jef','Jef')">Jef</span>
                <span [class.active]="filter.artist.value === 'Joe'"
                  (click)="selectArtist('Joe','Joe')">Joe</span>
                <span [class.active]="filter.artist.value === 'Lara'" (click)="selectArtist('Lara','Lara')">Lara</span>
                <span [class.active]="filter.artist.value === 'Levi'" (click)="selectArtist('Levi','Levi')">Levi</span>
                <span [class.active]="filter.artist.value === 'Noslin'"
                  (click)="selectArtist('Noslin','Noslin')">Noslin</span>
                <span [class.active]="filter.artist.value === 'Satoshi'"
                  (click)="selectArtist('Satoshi','Satoshi')">Satoshi</span>
              </div>
            </div>
          </div>
          <div class="search-input">
            <input type="text" #cardNameInput name="cardName" id="cardName" placeholder="Search Card Name..."
              (keyup)="applyFilter($event)">
            <button class="clear-filter" (click)="clearFilters()">Clear Filters</button>
          </div>
          <div class="owned-cards-filter">
            <input type="checkbox" name="owned-cards-only" #ownedCardsOnlyCheckbox id="ownedCardsOnly" (change)="ownedCardsOnly($event)">
            <label for="ownedCardsOnly">Owned Cards Only</label>
          </div>
        </div>
      </div>
      <div class="cards-carousel" *ngIf="showCards.length > 0">
        <div class="slider container">
          <div *ngFor="let card of showCards" [ngClass]="{'card-container': true, 'grayscale-card': !card.amount}"
            (click)="openPopup(card)">
            <img [src]="card.image" alt="">
          </div>
        </div>
      </div>
      <div class="no-cards" *ngIf="showCards.length === 0">
        <div class="message-container">
          <div class="message-text">
            No matching cards found.
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="pagination-items">
          <span class="first-page" (click)="firstPage()">First Page</span>
          <span class="arrow prev-arrow" (click)="prevPage()"></span>
          <span class="show-current-page">Page {{currentCardPage}} of {{cardsPages}}</span>
          <span class="arrow next-arrow" (click)="nextPage()"></span>
          <span class="last-page" (click)="lastPage()">Last Page</span>
        </div>
      </div>
    </div>
  </div>
</div>
