@font-face {
  font-family: text-security-disc;
  src: url("https://raw.githubusercontent.com/noppa/text-security/master/dist/text-security-disc.woff");
}

#password,
#confirmPassword {
  font-family: text-security-disc;
  -webkit-text-security: disc;
}
.container-with-bg {
  padding-top: 20px;
}
