<div class="container">
  <div class="form-container">
    <div class="form-block">
      <div class="auth-block">
        <h3 class="form-title">Reset Password</h3>
        <p class="text-center">Please enter your email address to reset your password.</p>
        <form [formGroup]="forgotPasswordForm" (submit)="submit()" #myForm="ngForm">
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email Address" required maxlength="64"
              formControlName="email" required>
          </div>
          <div class="mb-3" *ngIf="errorMessage">
            <div class="text-danger">
              {{errorMessage}}
            </div>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn submit-reset-password-btn" value="Submit">
          </div>
        </form>
      </div>
      <div class="redirect-to-login">
        <span>Go back to <a class="redirect" routerLink="/sign-in">Sign in?</a></span>
      </div>
    </div>
  </div>
</div>
