:host {
    position: absolute;
    z-index: 9999999;
}

.modal {
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-dialog {
    height: 100vh;
    margin: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    // width: 50%;
    margin: 0 auto;
    max-width: 800px;
}

.modal-content {
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(7, 10, 14, 0.9);
    padding: 5px;
    color: #fff;

    &::before {
        content: " ";
        position: absolute;
        inset: 0;
        border-radius: 5px;
        padding: 3px;
        background: linear-gradient(to right, #a99151 22%, #877036 24%, #ffffcf 26%, #d0b46c 27%, #f2d68d 40%, #a49053 78%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
    }
}

.close-popup {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(/assets/Close_small_BTN_00.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    right: 10px;
    top: 10px;
    background-color: transparent;
    z-index: 99999;
    opacity: .8;
    transition: opacity 0.3s, transform 0.3s;

    &:active {
        transform: translateY(1px);
        opacity: .8;
    }

    &:hover {
        opacity: 1;
    }
}

.modal-body {
    padding: 0;

    img.card-image {
        width: 100%;
    }

    .card-name {
        color: #FFA415;
        font-size: 1.75rem;
        text-align: center;
        margin-top: 5px;
        background-image: url(/assets/Card_popup_win_Title_Ribbon.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 120px;
        position: relative;
        right: -8px;
        width: 100%;
        background-position: right;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
    }
}

.card-image-container {
    padding: 0px 10px 20px 10px;
}

.amount-owned {
  text-align: center;
  margin-top: 24px;
}

.total-supply {
  text-align: center;
  margin-top: 5px;
  visibility: hidden; /* Initially hide total supply but keep in layout */
  opacity: 0; /* Make it transparent */
  transition: opacity 0.3s, visibility 0s 0.3s; /* Smooth transition for opacity, delay hiding visibility */
}

.amount-owned:hover + .total-supply {
  visibility: visible; /* Make total supply visible on hover */
  opacity: 1; /* Fully opaque */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

/* Specific styles for amount owned */
.amount-owned .label,
.amount-owned .value {
  font-size: 24px; /* Larger font size for amount owned */
  color: #A8A8A7; /* Grey color for the label */
}

.amount-owned .value {
  color: #FFFFFF; /* White color for the value */
  margin-left: 10px; /* Space between label and value */
}

/* Specific styles for total supply */
.total-supply .label,
.total-supply .value {
  font-size: 16px; /* Smaller font size for total supply */
  color: #A8A8A7; /* Grey color for the label */
}

.total-supply .value {
  color: #FFFFFF; /* White color for the value */
  margin-left: 10px; /* Space between label and value */
}




.card-info {
    color: #A8A8A9;
    font-size: 1.35rem;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.card-stats-title {
    background-image: url(/assets/card-stats-value-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.55rem;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 15px;
    color: #E8E3DD;
}

.card-stats {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    margin-right: 20px;

    .left-stats {
        flex: 1;
    }

    .right-stats {
        flex: 1;
    }

    .stat {
        background-image: url(/assets/card-details-value-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-left: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 15px;
        margin-right: 15px;
        color: #A8A8A8;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &::before {
            content: " ";
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: -5px;
            top: -2px;
            z-index: 999999;
        }
    }

    .attack::before {
        background-image: url("/assets/Tangents_icon Copy.png");
    }

    .gold::before {
        background-image: url("/assets/Tangents_icon Copy 3.png");
    }

    .health::before {
        background-image: url("/assets/Tangents_icon_heart.png");
    }

    .xp::before {
        background-image: url("/assets/Tangents_icon_blance.png");
    }
}

.stat-value {
    float: right;
    color: #FFF;
    margin-right: 25px;
}

.card-details {
    background-image: url(/assets/Card_win_Detail_section.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.detail {
    position: relative;
    padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    color: #A8A8A8;
    font-size: 18px;
    display: flex;
    align-items: center;
    min-width: 210px;

    &::before {
        content: " ";
        width: 30px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 999999;
    }

    @media (max-width: 825px) {
      //flex-direction: column; /* Stack the items vertically */
      align-items: center; /* Align items to the start of the container */
      min-width: 0; /* Remove minimum width restriction */
      font-size: 12px;
  }
}

.faction::before {
    background-image: url("/assets/Clan_icon.png");
}

.bracket::before {
    background-image: url("/assets/Lvl_icon.png");
}

.first-edition::before {
    background-image: url("/assets/First_Edition.png");
}

.unlimited-edition::before {
    background-image: url("/assets/Un_Edition.png");
}

.rarity::before {
    background-image: url("/assets/Rarity_icon.png");
}

.edition::before {
    background-image: url("/assets/Edition_icon.png");
}

.common::before {
    background-image: url(/assets/rarity_icon_placeholder_GRAY.png);
}

.uncommon::before {
    background-image: url(/assets/rarity_icon_placeholder_GREEN.png);
}

.rare::before {
    background-image: url(/assets/rarity_icon_placeholder_BLUE.png);
}

.legendary::before {
    background-image: url(/assets/rarity_icon_placeholder_ORANGE.png);
}

.artist::before {
    background-image: url("/assets/Artist_icon.png");
}

.Set::before {
    background-image: url("/assets/Set_icon.png");
}

.detail-rarity {
    display: flex;
    flex-direction: row;
}

.detail-value {
  background-image: url(/assets/card-details-value-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 14px; /* Adjust as needed, or remove if using JavaScript to set font-size */
  color: #FFF;
  margin-left: 10px;
  padding-left: 10px;
  height: 35px;
  flex: 1;
  padding-top: 4px;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis at the end if text is too long */

  @media (max-width: 825px) {
    font-size: 12px;
}
}

.message {
    text-align: center;
    font-size: 23px;
    color: #dc3545;

    &.success-message {
        color: #00ba63;
    }
}

.card-buttons {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%; /* Set the width of the button container to full width */
  padding: 0; /* Reset any padding if needed */

    .card-btn.loading {
        cursor: not-allowed;
    }

    .card-btn {
    flex-grow: 1; /* Grow to take available space, if this causes the button to be too wide, use flex-basis */
    background-size: contain; /* Adjust this as needed */
    background-position: center;
    background-repeat: no-repeat;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
        color: #FFF;
        border: none;
        background-color: transparent;
        position: relative;
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 10px;
        cursor: url('/assets/Cursor_02-2_select_2.png'), url('/assets/Cursor_02-2_select_2.png'), auto !important;
        text-decoration: none;
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &.confirm {
            width: 60%;
        }

        &.buy,
        &.market
        {
          background-image: url(/assets/card-container-sell-btn-bg-standard.png);
          &:hover {
              background-image: url(/assets/card-container-sell-btn-bg-highlighted.png);
          }

          &:focus {
              background-image: url(/assets/card-container-sell-btn-bg-highlighted.png);
          }

          &:active {
              background-image: url(/assets/card-container-sell-btn-bg-off.png);
              top: 1px;
          }

          @media (max-width: 825px) {
            font-size: 12px;
          }
      }
        &.cancel,
        &.confirm {
            background-image: url(/assets/card-container-buy-btn-bg.png);
        }

        &.sell {
            background-image: url(/assets/card-container-sell-btn-bg.png);
        }

        &.burn {
            background-image: url(/assets/card-container-burn-btn-bg.png);
        }

        &:hover {
            opacity: 1;
        }
    }

    .row-cancel {
        display: flex;
        flex-direction: row;

        .edit-cancel {
            width: 40%;
            position: relative;
            background-image: url(/assets/card-container-buy-btn-bg.png);

            &::after {
                content: "";
                position: absolute;
                display: block;
                background-size: contain;
                background-position: right;
                background-repeat: no-repeat;
                right: -17px;
                width: 30px;
                height: 50px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                left: -17px;
                width: 30px;
                height: 50px;
            }

            &::after {
                background-image: url(/assets/card-container-buy-btn-right-bg.png);
            }

            &::before {
                background-image: url(/assets/card-container-buy-btn-left-bg.png);
            }
        }
    }
}



.price-row {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;

    .price-in-erg {
        font-size: 20px;
    }

    .price-in-usd {
        font-size: 12px;
        margin-bottom: 4px;
        margin-left: 6px;
        display: flex;
        align-items: flex-end;
    }
}

.listed-date {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    font-size: 12px;
    margin-bottom: 10px;
}

.sell-modal {
    .sell-modal-container {
        display: flex;
        flex-direction: column;
    }

    .sell-modal-title {
        background-image: url(/assets/sell-modal-title-bg.png);
        width: 80%;
        height: 85px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -10px;
        display: flex;
        align-items: center;
        padding-left: 30px;
        font-size: 28px;
        color: #EADECC;

        span {
            margin-left: 10px;
            color: #F4A32C;
        }

        &.selling {
            background-image: url(/assets/sell-modal-title-selling-bg.png);
        }
    }

    .sell-modal-content-container {
        padding: 10px 40px;
    }

    .sell-modal-content {
        background-image: url(/assets/sell-modal-content-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 40px;
    }

    input.amount {
        background-color: #1a293d;
        border: #051526 2px solid;
        height: 45px;
        // width: 70%;
        padding: 0px 10px;
        color: #a09b92;
    }

    .input-group small {
        color: #dc3545;
    }

    .sub-title {
        color: #e6e2dc;
        font-size: 26px;
        margin-bottom: 16px;
        margin-left: 10px;
    }

    .select-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 200px;
        min-width: 145px;
    }

    .selected-option {
        background-color: #00030B;
        color: #A09B92;
        height: 45px;
        width: 100px;
        margin: 0 auto;
        font-size: 25px;
        border: #051526 2px solid;
        text-transform: uppercase;
    }

    .options {
        display: flex;
        flex-direction: column;
        background-color: #020C2F;
        border: 2px solid #0B1E3F;
        border-radius: 5px;
        position: absolute;
        width: 100%;
        top: 42px;
        color: #9F9B92;
        padding: 10px;
        z-index: 999999;

        &.currency {
            text-transform: uppercase;
        }

        span {
            margin-bottom: 5px;

            &.active {
                color: #FFFFFF;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    .amount-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sell-modal-content-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .service-fee,
    .service-fee-value {
        color: #a6a6a6;
        text-transform: uppercase;
    }

    .sell-modal-content-row .description {
        font-size: 16px;
        margin: 0 auto;

        a {
            color: #eaa24a;
            text-decoration: none;
        }
    }

    .your-earning-value {
        text-transform: uppercase;
    }

    .modal-button {
        width: 90%;
        height: 37px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        color: #B7BEC5;
        border: none;
        background-color: transparent;
        position: relative;
        margin: 0 auto;
        margin-top: 3px;
        margin-bottom: 10px;
        cursor: url('/assets/Cursor_02-2_select_2.png'), url('/assets/Cursor_02-2_select_2.png'), auto !important;
        text-decoration: none;
        opacity: .8;
        transition: all 0.2s ease-in-out;
        background-image: url(/assets/card-container-sell-btn-bg.png);

        &:hover {
            opacity: 1;
        }
    }
}

.sell-modal-buttons {
    .modal-button {
        height: 60px;
        font-size: 23px;
        color: #FFFFFF;
        background-size: contain;
    }
}

.confirm-message {
    padding: 40px;
    margin: 0;
    font-size: 24px;
    text-align: center;

    b {
        color: #dc3545;
    }
}

@media screen and (max-width: 825px) {
    .modal-dialog {
        max-width: 600px;
    }
}

@media screen and (max-width: 625px) {
    .modal-dialog {
        max-width: 600px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card-image-container {
        width: 100%;
    }

    .card-details-container {
        width: 100%;
    }

    .card-stats {
        margin-left: 20px;
    }

    .card-details {
        margin-left: 20px;
    }

    .modal-dialog {
        width: 100%;
        height: auto;
        margin-top: 135px;
        margin-bottom: 200px;
    }

}

@media screen and (max-width: 460px) {
    .cards-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit-btn {
        margin-top: 15px;
    }

    .cards-carousel {
        overflow: hidden;
    }

    .swiper-buttons .swiper-button.prev {
        right: 20px;
    }

    .swiper-buttons .swiper-button.next {
        left: -15px;
    }

}
