<div *ngIf="selectedCard" class="card-modal-container" (click)="onClickOutsideModal($event)">
    <div [ngClass]="{'modal': true, 'sell-modal': !showDetails}" tabindex="-1" role="dialog"
        [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="cardModal">
                <button type="button" class="close-popup" (click)="closeModal()"></button>
                <div class="modal-body">
                    <div class="sell-modal-container" *ngIf="showDetails === false">
                        <div *ngIf="modalType === 'Cancel'">
                            <p class="confirm-message">Are you sure you want to cancel <b>{{selectedCard?.name}}</b> for
                                <b>{{selectedCard?.price_erg}} ERG</b>?
                            </p>
                            <div *ngIf="message" [ngClass]="{'message': true, 'success-message': isSuccessful}">
                                {{message }}
                            </div>
                            <div class="card-buttons">
                                <div class="card-btn confirm" [class.loading]="isLoading"
                                    [attr.disabled]="isLoading ? true : null"
                                    (click)="!isLoading && delistNFT(selectedCard?.token_id)">
                                    {{ isLoading ? 'Loading...' : 'Confirm' }}
                                </div>
                            </div>
                        </div>
                        <div class="sell-modal-title selling" *ngIf="modalType === 'Sell'">Selling
                            :
                            <span>{{selectedCard?.name}}</span>
                        </div>
                        <div class="sell-modal-title" *ngIf="modalType === 'Edit'">Edit Listing
                        </div>
                        <div class="sell-modal-title burning" *ngIf="modalType === 'Burn'">Burning:
                            <span>{{selectedCard?.name}}</span>
                        </div>
                        <div class="sell-modal-content-container">
                            <div *ngIf="modalType === 'Sell'">
                                <div class="sell-modal-content">
                                    <div class="sub-title">Listing Price</div>
                                    <div class="amount-group">
                                        <div class="input-group flex flex-column">
                                            <input type="number" placeholder="Enter Listing Price Here" [value]="price"
                                                (input)="checkInput($event)" class="amount" min="0">
                                            <div *ngIf="!isValid">
                                                <small>Price should be a number with up to 2 decimal places</small>
                                            </div>
                                        </div>
                                        <div class="select-container">
                                            <button class="selected-option"
                                                (click)="toggleMenu(0)">{{currency}}</button>
                                            <div class="options currency" *ngIf="activeIndex === 0"
                                                (mouseleave)="activeIndex = -1">
                                                <span [class.active]="currency === 'erg'"
                                                    (click)="selectCurrency('erg')">ERG</span>
                                                <!-- <span [class.active]="currency === 'usd'"
                                                    (click)="selectCurrency('usd')">SigUSD</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sell-modal-content">
                                    <div class="sell-modal-content-row">
                                        <div class="service-fee">Sevice Fee (2%)</div>
                                        <div class="service-fee-value">{{calculateFee()}} {{currency}}</div>
                                    </div>
                                    <div class="sell-modal-content-row">
                                        <div class="your-earning">Your Earnings</div>
                                        <div class="your-earning-value">{{calculateYouEarn()}}
                                            {{currency}}</div>
                                    </div>
                                    <div class="sell-modal-content-row">
                                        <!-- <div class="description">The is also an immediate fee of 0.03 ERG, find out more
                                            in
                                            our <a [href]="'/faqs'">FAQ</a> </div> -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="modalType === 'Edit'">
                                <div class="sell-modal-content">
                                    <div class="sub-title">Listing Price</div>
                                    <div class="amount-group">
                                        <div class="input-group flex flex-column">
                                            <input type="number" placeholder="Enter Listing Price Here" [value]="price"
                                                (input)="checkInput($event)" class="amount" min="0">
                                            <div *ngIf="!isValid">
                                                <small>Price should be a number with up to 2 decimal places</small>
                                            </div>
                                        </div>
                                        <div class="select-container">
                                            <button class="selected-option"
                                                (click)="toggleMenu(0)">{{currency}}</button>
                                            <div class="options currency" *ngIf="activeIndex === 0"
                                                (mouseleave)="activeIndex = -1">
                                                <span [class.active]="currency === 'erg'"
                                                    (click)="selectCurrency('erg')">ERG</span>
                                                <!-- <span [class.active]="currency === 'usd'"
                                                    (click)="selectCurrency('usd')">SigUSD</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sell-modal-content">
                                    <div class="sell-modal-content-row">
                                        <div class="service-fee">Sevice Fee (2%)</div>
                                        <div class="service-fee-value">{{calculateFee()}} {{currency}}</div>
                                    </div>
                                    <div class="sell-modal-content-row">
                                        <div class="your-earning">Your Earnings</div>
                                        <div class="your-earning-value">{{calculateYouEarn()}}
                                            {{currency}}</div>
                                            <!-- div class="your-earning-value">{{calculateYouEarn(selectedCard?.price_erg)}} -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="modalType === 'Burn'">
                                <div class="sell-modal-content">
                                    <div class="sell-modal-content-row">
                                        <div class="burn-value">Burn Value</div>
                                        <div class="burn-value-amout">100 BLTZ</div>
                                    </div>
                                </div>
                                <div class="sell-modal-content">
                                    <div class="sell-modal-content-row">
                                        <div class="service-fee">Estimated Fees (5%)</div>
                                        <div class="service-fee-value">5 BLTZ</div>
                                    </div>
                                    <div class="sell-modal-content-row">
                                        <div class="your-earning">Your Earnings</div>
                                        <div class="your-earning-value">95 BLTZ</div>
                                    </div>
                                    <div class="sell-modal-content-row">
                                        <!-- <div class="description">The is also an immediate fee of 0.03 ERG, find out more
                                            in
                                            our <a [href]="'/faqs'">FAQ</a> </div> -->
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="modalType !== 'Buy' && message"
                                [ngClass]="{'message': true, 'success-message': isSuccessful}">{{ message }}
                            </div>
                            <div class="sell-modal-buttons">
                                <div class="modal-button sell" *ngIf="modalType === 'Sell'" [class.loading]="isLoading"
                                    [attr.disabled]="isLoading ? true : null"
                                    (click)="!isLoading && listingNFTs(selectedCard?.token_id)">
                                    {{ isLoading ? 'Loading...' : 'Submit Sell' }}
                                </div>
                                <div class="modal-button sell" *ngIf="modalType === 'Edit'" [class.loading]="isLoading"
                                    [attr.disabled]="isLoading ? true : null"
                                    (click)="!isLoading && editNFT(selectedCard?.token_id)">
                                    {{ isLoading ? 'Loading...' : 'Submit Change' }}
                                </div>

                                <div class="modal-button burn" *ngIf="modalType === 'Burn'">
                                    Submit Burn</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container" *ngIf="showDetails">
                        <div class="card-image-container col-5">
                            <img class="card-image" [src]="selectedCard.image" [alt]="selectedCard.name"
                                (load)="onImageLoad(selectedCard)" (error)="onImageError(selectedCard)"
                                *ngIf="!selectedCard.isLoaded; else loadedContent">
                            <ng-template #loadedContent>
                                <img class="card-image"
                                    [src]="selectedCard.imageLoaded ? selectedCard.image : '/assets/loading-nft.jpeg'"
                                    [alt]="selectedCard.name">
                            </ng-template>
                            <div class="amount-owned">
                              <span class="label">Amount Owned:</span>
                              <span class="value">{{ selectedCard?.amount || 0 }}</span>
                          </div>
                          <div class="total-supply">
                              <span class="label">Total Supply:</span>
                              <span class="value">{{ selectedCard?.totalSupply || 'Not available' }}</span>
                          </div>
                        </div>
                        <div class="card-details-container col-7">
                            <div class="card-name">{{selectedCard?.name}}</div>
                            <div class="card-info">{{selectedCard?.description}}</div>
                            <div class="card-stats-title">Stats</div>
                            <div class="card-stats">
                                <div class="left-stats">
                                    <div class="stat attack">Attack <span
                                            class="stat-value">{{selectedCard?.attack}}</span>
                                    </div>
                                    <div class="stat gold">Gold <span class="stat-value">{{selectedCard?.gold}}</span>
                                    </div>
                                </div>
                                <div class="right-stats">
                                    <div class="stat health">Health <span class="stat-value">{{selectedCard?.hp}}</span>
                                    </div>
                                    <div class="stat xp">XP <span class="stat-value">{{selectedCard?.xp}}</span></div>
                                </div>
                            </div>
                            <div class="card-details">
                                <div class="card-row">
                                    <div class="detail faction">Faction <span
                                            class="detail-value">{{selectedCard?.faction}}</span>
                                    </div>
                                    <div class="detail bracket">Bracket <span class="detail-value">
                                            {{selectedCard?.bracket ? getBracket(selectedCard?.bracket) : "None"}}</span>
                                    </div>
                                </div>
                                <div class="card-row">
                                  <div class="detail edition">Edition <span class="detail-value">
                                          {{selectedCard?.edition == 1 ? '1st' : selectedCard?.edition}}
                                      </span>
                                  </div>
                                    <div class="detail rarity">Rarity <span class="detail-value">
                                            {{selectedCard?.rarity}}</span>
                                    </div>
                                </div>
                                <div class="card-row">
                                    <div class="detail artist">Artist <span
                                            class="detail-value">{{selectedCard?.artist}}</span></div>
                                    <div class="detail Set">Set <span class="detail-value">{{selectedCard?.set}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-buttons" *ngIf="modalType === 'Collectibles' && selectedCard?.totalSupply !== 'N/A'">
                              <a href="https://www.skyharbor.io/collection/blitztcg" target="_blank" class="card-btn market">SkyHarbor Market</a>
                              <a href="https://ergoauctions.org/collection/822ed9428a71bef65e667a6e35313c221711680f893614471a3c133049f9abfd?tab=1" target="_blank" class="card-btn market">Auction House</a>
                          </div>
                            <div class="card-buttons" *ngIf="modalType === 'Burn'">
                                <div class="card-btn burn" (click)="showDetails = false; modalType = 'Burn'">Burn</div>
                            </div>
                            <div *ngIf="modalType === 'Buy'">
                                <div class="card-buttons">
                                    <div [ngClass]="{'message': true, 'success-message': isSuccessful}">{{ message }}
                                    </div>
                                    <div class="card-btn buy" [class.loading]="isLoading"
                                        [attr.disabled]="isLoading ? true : null"
                                        (click)="!isLoading && buyNFT(selectedCard?.box_id)">
                                        {{ isLoading ? 'Loading...' : 'Buy' }}
                                    </div>
                                </div>
                                <div class="price-row">
                                  <div class="price-in-erg">{{selectedCard?.price_erg}} ERG</div>
                                  <!-- <div class="price-in-usd">({{selectedCard?.price_usd}} USD)</div> -->
                              </div>
                                <div class="listed-date"> {{selectedCard?.time_ago}}
                                </div>
                            </div>
                            <div *ngIf="modalType === 'Sell'">
                                <div class="price-row" *ngIf="sellActiveTab === 'Sold'">
                                    <div class="price-in-erg">{{selectedCard?.price_erg}} ERG</div>
                                    <!-- <div class="price-in-usd">({{selectedCard?.price_usd}} USD)</div> -->
                                </div>
                                <div class="card-buttons">
                                    <div class="card-btn sell" *ngIf="sellActiveTab === 'Owned'"
                                        (click)="showDetails = false; modalType = 'Sell'">Sell</div>
                                    <div class="row-cancel" *ngIf="sellActiveTab === 'For Sale'">
                                        <div class="card-btn edit-cancel"
                                            (click)="showDetails = false; modalType = 'Cancel'">
                                            Cancel</div>
                                        <div class="card-btn edit-cancel"
                                            (click)="showDetails = false; modalType = 'Edit'">
                                            Edit</div>
                                    </div>
                                </div>
                                <div class="price-row" *ngIf="sellActiveTab === 'For Sale'">
                                  <div class="price-in-erg">{{selectedCard?.price_erg}} ERG</div>
                              </div>
                                <div class="listed-date" *ngIf="sellActiveTab === 'Sold' || 'For Sale'">
                                  <div class="price-in-erg">{{selectedCard?.time_ago}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
